[mysqld]
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
datadir = /var/lib/mysql
secure-file-priv = NULL

# Character Set
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Authentication
default_authentication_plugin = mysql_native_password

# Basic InnoDB Settings
innodb_buffer_pool_size = 1G
innodb_file_per_table = 1

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4